# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Development Enviroment Open Source Tools for Data Science
- List Some Examples of Evaluating Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Keras

| Data Science Tools|
| ------------------|
| Jupiter |
| Appache Zeppelin |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Author 
Shady Ahmed